


<div class="row">
  <div class="col-sm-6">
    <h1>Git_repos</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_git_repo_path, class: 'btn btn-primary' do %>
    Add New Git repo
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Email</th>
            <th>Provider</th>
            <th>Uid</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @git_repos.each do |git_repo| %>
        <%= content_tag :tr, id: dom_id(git_repo), class: dom_class(git_repo) do %>
          

                      <td><%= git_repo.email %></td>
                      <td><%= git_repo.provider %></td>
                      <td><%= git_repo.uid %></td>
          
          
            <td><%= link_to 'Show', git_repo %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
