


<div class="row">
  <div class="col-sm-6">
    <h1><%= "#{@git_repo.repo.full_name}" %></h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_git_repo_file_path, class: 'btn btn-primary' do %>
    Add New Git repo
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Name</th>
            <th>Path</th>
            <th>Sha</th>
            <th>File Type</th>                    
      </tr>
    </thead>

    <tbody>
      <% @git_repo_files.each do |git_repo_file| %>
        <%= content_tag :tr do %>
        
                      <td><%= link_to  git_repo_file[:name], "./git_repo_files/#{URI.encode_www_form_component(git_repo_file[:path])}/edit/?git_repo=#{URI.encode_www_form_component(@git_repo.repo.full_name)}"  %></td>
                      <td><%= git_repo_file[:path] %></td>
                      <td><%= git_repo_file[:sha] %></td>
                      <td><%= git_repo_file[:type] %></td>          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
